<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.board.dao.BoardDAO">
    
    <select id="count" resultType="int">
    SELECT count(*) from board
    </select>
    
    
    
    
    
  <select id="list" parameterType="PageDTO" resultType="BoardDTO">
     <![CDATA[  
       select * from 
        (select rownum as rm, a.* from(
           select * from board
             order by ref desc, re_step asc) a)b
        where b.rm >= #{startRow}  and b.rm <= #{endRow}
        ]]>
     </select>
    </mapper>